main {
  margin: 60px 0 0 60px;
}
.iad {
  display: inline-block; 
  transform-origin: center center;
}
.iad:hover {
  animation-play-state: running;
  animation-name: shake-crazy;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
a {
  color: rgb(235, 153, 14);
  display: inline-block;
}
ul.links {
  margin-top: 4rem;
} 
ul.links a {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  padding: 0.6rem 1rem 0.6rem 0;
}
ul.links a:hover {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
.i,.n,.t,.e,.r,.a,.c,.t2,.i2,.o,.n2,.d,.e2,.s,.i3,.g,.n3,.e3,.r2 {
  display: inline-block;
  -webkit-animation: hover 2s ease-in-out infinite;
  animation: hover 2s ease-in-out infinite;
}
.i {
}
.n {
  animation-delay: 0.5s;
}
.t {
  animation-delay: 0.8s;
}
.e {
  animation-delay: 1s;
}
.r {
  animation-delay: 0.6s;
}
.a {
  animation-delay: 0.7s;
}
.c {
  animation-delay: 0.2s;
}
.t2 {
  animation-delay: 0.9s;
}
.i2 {
  animation-delay: 1.4s;
}
.o {
  animation-delay: 0.6s;
}
.n2 {
  animation-delay: 0.2s;
}
.d {
  animation-delay: 0.9s;
}
.e2 {
  animation-delay: 0.3s;
}
.s {
  animation-delay: 0.7s;
}
.i3 {
  animation-delay: 1.2s;
}
.g {
  animation-delay: 0.7s;
}
.n3 {
  animation-delay: 0.4s;
}
.e3 {
  animation-delay: 0.9s;
}
.r2 {
  animation-delay: 0.1s;
}
